{%extends 'base.html'%}

{% block content %}
{{block.super}}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-7 border-right">
            <section class="no-touch">

                <div class="wrap">
                  {% for business_item in business  %}      
                  
                  <div class="box">
                    <div class="boxInner">
                        <div class="titleBox" >{{business_item.name}}</div>
                        <img src="{{business_item.business_image.url}}"  class="img-responsive">
                              
                    </div>
                    
                  </div>
                  </a>
                  {% endfor %}
              
                </div>
              
              </section>   
        </div>        
        <div class='col-md-4'>
          <h1>Hello</h1>
          <!-- {% for photos_item in photos %}
            {% if photos_item.profile_pic %}
            <section data-toggle="modal" data-target="#modalLoginAvatar"> <img  style="border-radius: 50% ; padding: 0.15rem;  width: 45px; background: linear-gradient(to right bottom, #2cd88888, #2ec96970);" class=" img-circle"
            src="{{ photos_item.profile_pic.url}}" alt="" width="50px" height="50px"> <a href="/profiles/{{ photos_item.profile.user.id}}" style="color:black">{{ photos_item.profile.user.username}}</a>  </section> <br>
            {% else %}
            <img data-toggle="modal" data-target="#modalLoginAvatar" style="border-radius: 50% ; padding: 0.15rem;  width: 45px; background: linear-gradient(to right bottom, #2cd88888, #2ec96970);" class=" img-circle"
            src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png" alt="" width="50px" height="50px""> <a href="/profiles/{{ photos_item.profile.user.id}}" style="color:black">{{ photos_item.profile.user.username}}</a></section> <br> 
                            
            {% endif %}
          {% endfor %}
          <div> -->

          </div>

        </div>
    </div>
</div>


{% endblock %}